form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
}

button {
    margin: 15px 7px 0px 0px;
}

.customize-errors {
    margin-top: -20px;
    margin-bottom: 20px;
    color: red;
    font-size: 12px;
}